<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8">
    <base href="<%- baseUrl %>" target="_blank">
    <title><%- title  %></title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">

    <script src="js/plugins/css.escape/css.escape.js"></script>
    <script src="js/plugins/babel-polyfill/polyfill.js"></script>

    <link type="text/css" rel='stylesheet' href='css/plugins/joint/joint.css'/>
    <link type="text/css" rel="stylesheet" href="css/plugins/normalize.css/normalize.css">
    <link type="text/css" rel="stylesheet" href="font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/bootstrap-3.3.7/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/aui-package/aui-widgets-1.16.8.css">
    <link type="text/css" rel='stylesheet' href='css/plugins/aui-package/aui-widgets-1.9.0.office.css'/>

    <!-- perfect-scrollbar css -->
    <link type="text/css" rel='stylesheet' href='css/plugins/perfect-scrollbar/perfect-scrollbar.css'/>

    <!-- jquery-ui css -->
    <link type="text/css" rel='stylesheet' href='css/plugins/jquery-ui/jquery-ui.css'/>

    <!-- summernote css -->
    <link type="text/css" rel='stylesheet' href='css/plugins/summernote-0.8.2/summernote.css'/>

    <!-- brightics chart css -->
    <link type="text/css" rel="stylesheet" href="css/plugins/bcharts/bcharts-all.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/bcharts/bcharts-adonis-all.css">

    <link type="text/css" rel='stylesheet' href='css/va/brightics-va.css'/>

    <!-- CodeMirror css -->
    <link type="text/css" rel="stylesheet" href="css/plugins/codemirror/codemirror.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/codemirror/addon/hint/show-hint.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/codemirror/addon/scroll/simplescrollbars.css">
    <link type="text/css" rel="stylesheet" href="css/plugins/codemirror/brtc-va-codemirror.css">

    <!-- Json viewer css -->
    <link type="text/css" rel="stylesheet" href="css/plugins/json-viewer/jquery.json-viewer.css">

    <!-- Handsontable css -->
    <link type="text/css" rel='stylesheet' href='/css/plugins/handsontable/handsontable.full.min.css'/>

    <!-- jQuery JS -->
    <script src="js/plugins/jquery/jquery-3.3.1.js"></script>
    <script src="js/plugins/jquery-hotkeys/jquery.hotkeys.js"></script>
    <script src="js/plugins/jquery-cookie/jquery.cookie.js"></script>

    <!-- Json viewer js -->
    <script src="js/plugins/json-viewer/jquery.json-viewer.js"></script>

    <!-- jquery-ui  -->
    <script src="js/plugins/jquery-ui/jquery-ui.js"></script>
    <!-- bootstrap JS -->
    <script src="js/plugins/bootstrap-3.3.7-dist/bootstrap.min.js"></script>

    <script src="js/plugins/numeral/numeral.min.js"></script>
    <script src="js/plugins/lodash/lodash.min.js"></script>

    <!-- File Line Navigator -->
    <script src="js/plugins/line-navigator/file-wrapper.min.js"></script>
    <script src="js/plugins/line-navigator/line-navigator.min.js"></script>

    <!-- AUI -->
    <script src="js/plugins/aui-package/globalization/globalize.js"></script>
    <script src="js/plugins/aui-package/aui-camellia-1.0.24.js"></script>
    <script src="js/plugins/aui-package/aui-widgets-1.16.8.min.js"></script>

    <!-- slimscroll JS -->
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- perfect-scrollbar JS -->
    <script src="js/plugins/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="js/plugins/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>

    <!-- joint JS -->
    <script src="js/plugins/backbone/backbone-min.js"></script>
    <script src="js/plugins/joint/joint.js"></script>

    <!-- moment.js -->
    <script src="js/plugins/jquery/moment.min.js"></script>

    <!-- markdown-it.js -->
    <script type="text/javascript" src="js/plugins/markdownit/markdown-it.js"></script>

    <!-- CodeMirror JS -->
    <script src="js/plugins/codemirror/codemirror.js"></script>
    <script src="js/plugins/codemirror/addon/hint/show-hint.js"></script>
    <script src="js/plugins/codemirror/addon/hint/sql-hint.js"></script>
    <script src="js/plugins/codemirror/addon/hint/anyword-hint.js"></script>
    <script src="js/plugins/codemirror/addon/hint/brtc-custom-hint.js"></script>
    <script src="js/plugins/codemirror/addon/hint/scala-custom-hint.js"></script>
    <script src="js/plugins/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="js/plugins/codemirror/addon/edit/closebrackets.js"></script>
    <script src="js/plugins/codemirror/addon/edit/trailingspace.js"></script>
    <script src="js/plugins/codemirror/addon/scroll/simplescrollbars.js"></script>
    <script src="js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script src="js/plugins/codemirror/mode/sql/sql.js"></script>
    <script src="js/plugins/codemirror/mode/clike/clike.js"></script>
    <script src="js/plugins/codemirror/mode/r/r.js"></script>
    <script src="js/plugins/codemirror/simple.js"></script>
    <script src="js/plugins/codemirror/display/placeholder.js"></script>
    <script src="js/plugins/codemirror/mode/python/python.js"></script>

    <!-- jsPDF -->
    <script src="js/plugins/jspdf/jspdf.min.js"></script>

    <!-- html2canvas -->
    <script src="js/plugins/html2canvas/html2canvas.js"></script>
    <script src="js/plugins/html2canvas/html2canvas.svg.js"></script>

    <!-- jsbn-RSA -->
    <script type="text/javascript" src="js/plugins/jsbn-rsa/jsbn.js"></script>
    <script type="text/javascript" src="js/plugins/jsbn-rsa/prng4.js"></script>
    <script type="text/javascript" src="js/plugins/jsbn-rsa/rng.js"></script>
    <script type="text/javascript" src="js/plugins/jsbn-rsa/rsa.js"></script>
    <script type="text/javascript" src="js/plugins/jsbn-rsa/base64.js"></script>

    <!-- summernote -->
    <script src="js/plugins/summernote-0.8.2/summernote.js"></script>

    <!-- Ace Editor -->
    <script src="js/plugins/ace/ace.js"></script>
    <script src="js/plugins/ace/ext-language_tools.js"></script>

    <!-- EChart JS -->
    <script src="js/plugins/echarts/echarts.js"></script>
    <script src="js/plugins/echarts-stat/ecStat.js"></script>

    <!-- D3.js v4-->
    <script src="js/plugins/d3/d3.js"></script>
    <script src="js/plugins/d3-tip/index.js"></script>

    <!-- jStat -->
    <script src="js/plugins/jstat/jstat.js"></script>

    <!-- Handsontable -->
    <script src="/js/plugins/handsontable/handsontable.full.min.js"></script>

    <!-- Hyperlist for virtual scroll -->
    <script src="js/plugins/hyperlist/hyperlist.js"></script>

    <script>
        var useSpark = '<%- useSpark %>';
    </script>

    <!-- Brightics Core -->
    <script src="js/va/brightics-va-core.js"></script>

    <!-- Functions -->
    <script src="js/va/brightics-va-functions.js"></script>

    <!-- Bcharts -->
    <script src="js/plugins/bcharts/bcharts-all.js"></script>
    <script src="js/plugins/bcharts/bcharts-adonis-all.js"></script>
    <script src="js/plugins/bcharts/bcharts-module-all.js"></script>

    <!-- Brightics Modules -->
    <% for(var moduleIdx = 0; moduleIdx < models.length; moduleIdx++){ %>
    <script src="js/va/brightics-va-<%- models[moduleIdx] %>.js"></script>
        <% if(models[moduleIdx] === 'dataflow') { %>
            <%- addons %>
        <% } %>
    <% } %>

    <script>
        var user = '<%- userId %>';
        var permissions = '<%- JSON.stringify(permissions) %>';
        var logLevel = '<%- logLevel %>';
        $.ajax({
            type: 'GET',
            url: 'api/va/v2/map'
        }).done(function (data) {
            Brightics.Chart.Adonis.BChartsAdonis.setupMapList(data);
        });
        Brightics.VA.SettingStorage.DEFAULT_SETTINGS['common.document.onlinedocurl.default'] = '<%- docsUrl %>';
        Brightics.VA.SettingStorage.DEFAULT_SETTINGS['common.persist.mode'] = '<%- persistMode %>';
        Brightics.VA.SettingStorage.DEFAULT_SETTINGS['common.autonomous.analytics'] = '<%- autonomousAnalytics %>';
    </script>
    <script src="js/va/brightics-va-ajax.js"></script>
    <link type="text/css" rel="stylesheet" href="css/va/brightics-va-main.css">
</head>
<body>
<div id="brightics">
    <div class="brtc-va-main"></div>
</div>
</body>
<script src="js/va/brightics-va-main.min.js"></script>
</html>